<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="LOGS_ABSOLUTE_PATH" value="./logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

<!--	<appender name="COM_FILE"-->
<!--		class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--			<level>INFO</level>-->
<!--		</filter>-->
<!--		<prudent>true</prudent>-->
<!--		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--			<fileNamePattern>${IOT_HOME}/log/IOT_LOG.%d{yyyy-MM-dd}.log-->
<!--			</fileNamePattern>-->
<!--			<maxHistory>30</maxHistory>-->
<!--		</rollingPolicy>-->
<!--		<encoder>-->
<!--			<pattern>%-5p: [%d{yyyy-MM-dd HH:mm:ss:mmm}] %c - %m%n</pattern>-->
<!--		</encoder>-->
<!--	</appender>-->


	<root level="info">
		<appender-ref ref="console" />
<!--		<appender-ref ref="COM_FILE" />-->
	</root>
	

</configuration>